<section
  class="relative bg-[url('/assets/fondoheader.png')] bg-cover bg-center bg-no-repeat md:h-screen h-96 font-sans flex flex-col items-center justify-center"
>
  <div class="absolute inset-0 bg-gradient-to-b from-transparent to-[#040C1C]"></div>

  <div class="mx-auto px-4 sm:px-6 lg:px-8 relative z-10 flex flex-col items-center justify-center h-full">
    <div class="text-center">
      <h1 class="mt-4 text-2xl tracking-tight font-extrabold text-white sm:mt-5 sm:leading-none lg:mt-6 lg:text-5xl xl:text-6xl animate-fade-right animate-once animate-ease-linear">
        Explora las Universidades de Nicaragua con nuestro Mapa Interactivo
      </h1>
      <p class="text-white text-xs md:text-2xl mt-10 md:block delay-100 animate-fade-up animate-once animate-ease-linear">
        Conéctate con el futuro de tu educación a través del mapa interactivo de ZyxBot.
        Navega fácilmente por las ubicaciones de las universidades asociadas al CNU en Nicaragua y descubre las oportunidades académicas que cada una ofrece.
      </p>
    </div>
  </div>
</section>
