<!-- footer -->
<footer class="relative bg-blueGray-200 pt-4 pb-6 bg-gradient-to-b from-[#040c1cef] to-[#040c1c]">
  <div class="container mx-auto px-4">
    <hr class="my-6 border-blueGray-300" />
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4" data-aos="zoom-out"  data-aos-duration="3000">
        <h4 class="text-xl md:text-2xl lg:text-3xl font-bold text-[#F6B93E]">
          ZyxBot Company
        </h4>
        <h5 class="text-xs md:text-sm lg:text-base mt-4 mb-2 text-white">
          ¿Buscas respuestas a tus preguntas sobre Universidades y programas académicos en Nicaragua? Ya sea que estés buscando tu primera experiencia universitaria o explorando opciones para continuar tu educación, ZyxBot es tu compañero en este viaje educativo.
        </h5>

        <div class="mt-6 lg:mb-0 mb-6 flex space-x-4">
          <a class="bg-blue-600 text-white shadow-lg font-normal h-8 w-8 md:h-10 md:w-10 flex items-center justify-center rounded-full transition-all duration-300 ease-in-out transform hover:scale-110 hover:bg-blue-800 focus:outline-none" href="#" type="button">
            <i class="fab fa-facebook-f"></i>
          </a>
          
          <a class="bg-green-500 text-white shadow-lg font-normal h-8 w-8 md:h-10 md:w-10 flex items-center justify-center rounded-full transition-all duration-300 ease-in-out transform hover:scale-110 hover:bg-green-700 focus:outline-none" href="#" type="button">
            <i class="fab fa-whatsapp"></i>
          </a>

          <a class="bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 text-white shadow-lg font-normal h-8 w-8 md:h-10 md:w-10 flex items-center justify-center rounded-full transition-all duration-300 ease-in-out transform hover:scale-110 hover:from-pink-700 hover:via-red-700 hover:to-yellow-600 focus:outline-none" href="#" type="button">
            <i class="fab fa-instagram"></i>
          </a>

          <a class="bg-gray-800 text-white shadow-lg font-normal h-8 w-8 md:h-10 md:w-10 flex items-center justify-center rounded-full transition-all duration-300 ease-in-out transform hover:scale-110 hover:bg-gray-900 focus:outline-none" href="#" type="button">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>

      <div class="w-full lg:w-6/12 px-4" data-aos="zoom-out"  data-aos-duration="3000">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-[#F6B93E] text-xs md:text-sm font-semibold mb-2">Contenidos</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-white hover:text-blue-600 font-semibold block pb-2 text-xs md:text-sm" href="">Página principal</a>
              </li>
              <li>
                <a class="text-white hover:text-blue-600 font-semibold block pb-2 text-xs md:text-sm" href="">Chatbot</a>
              </li>
              <li>
                <a class="text-white hover:text-blue-600 font-semibold block pb-2 text-xs md:text-sm" href="">Mapa Interactivo</a>
              </li>
              <li>
                <a class="text-white hover:text-blue-600 font-semibold block pb-2 text-xs md:text-sm" href="">Test vocacional</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Sección del copyright -->
<div class="h-16 bg-[#151A2B] flex items-center justify-center px-4 md:hidden">
  <div class="text-white text-xs md:text-sm">
    © 2024 ZyxBot. Todos los derechos reservados.
  </div>
</div>

<!-- Sección del copyright que se muestra en pantallas medianas y grandes -->
<div class="h-16 bg-[#151A2B] flex items-center justify-between px-4 hidden md:flex">
  <div class="flex items-center">
    <img src="/assets/LogoZyxBot.png" alt="Logo" class="h-3 md:h-5" />
  </div>

  <div class="text-white text-xs md:text-sm ">
    © 2024 ZyxBot. Todos los derechos reservados. Este sitio web y su contenido.
  </div>
</div>
