<!-- Navbar superior para pantallas grandes -->
<header class="w-full fixed top-0 left-0 z-[1000] shadow-lg " [ngClass]="{'bg-[#040C1C]': isScrolled, 'bg-transparent': !isScrolled}">
  <nav class="border-gray-200 py-2.5" [ngClass]="{'bg-transparent': !isScrolled, 'bg-[#040C1C]': isScrolled}">
    <div class="flex flex-wrap items-center justify-between px-4 mt-2 mx-auto">
      <a href="#" class="flex items-center">
        <img src="/assets/LogoZyxBot.png" class="h-6 sm:h-9" alt="logo-cnu" />
      </a>
      <div class="flex items-center lg:order-2">
        <div class="hidden mr-2 sm:inline-block">
          <a
            class="text-white border hover:bg-[#F6B93E] focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm uppercase px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0 focus:outline-none"
            routerLink="/chat/ichat"
          >
            Iniciar Sesión
          </a>
        </div>
        <a
          routerLink="/auth/login"
          class="text-white bg-[#F6B93E] hover:bg-[#aa853b] focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm uppercase px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0 focus:outline-none"
        >
          Registrarse
        </a>
      </div>
      <div class="items-center justify-between lg:flex lg:w-auto lg:order-1" [ngClass]="{'hidden': !isMenuOpen}" id="mobile-menu-2">
        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-4 lg:mt-0 bg-transparent rounded-lg p-4 lg:p-0">
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 rounded text-[#F6B93E] hover:bg-[#F6B93E] hover:text-white transition-colors duration-200 lg:p-0" aria-current="page">INICIO</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-white border-b  hover:bg-[#F6B93E] hover:text-white transition-colors duration-200 lg:hover:bg-transparent lg:border-0 lg:hover:text-[#F6B93E] lg:p-0">CHATBOT</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-white border-b  hover:bg-[#F6B93E] hover:text-white transition-colors duration-200 lg:hover:bg-transparent lg:border-0 lg:hover:text-[#F6B93E] lg:p-0">TEST VOCACIONAL</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-white border-b  hover:bg-[#F6B93E] hover:text-white transition-colors duration-200 lg:hover:bg-transparent lg:border-0 lg:hover:text-[#F6B93E] lg:p-0">MAPA INTERACTIVO</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-white border-b  hover:bg-[#F6B93E] hover:text-white transition-colors duration-200 lg:hover:bg-transparent lg:border-0 lg:hover:text-[#F6B93E] lg:p-0">CONTACTANOS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Navbar inferior para pantallas pequeñas -->
<div class="fixed inset-x-0 bottom-0 bg-gray-900 text-white flex justify-around items-center h-16 shadow-lg z-[1000] lg:hidden">
  <!-- Link 1 -->
  <a href="#home" class="flex flex-col items-center text-xs hover:text-blue-500 space-y-1">
    <i class="fas fa-home text-xl"></i>
    <span>Home</span>
  </a>
  
  <!-- Link 2 -->
  <a href="#search" class="flex flex-col items-center text-xs hover:text-blue-500 space-y-1">
    <i class="fa-solid fa-robot text-xl"></i>
    <span>ChatBot</span>
  </a>
  
  <!-- Link 3 -->
  <a routerLink="/test" class="flex flex-col items-center text-xs hover:text-blue-500 space-y-1">
    <i class="fas fa-user-graduate text-xl"></i>
    <span>Test Vocacional</span>
  </a>

  <!-- Link 4 -->
  <a href="#mapa-interactivo" class="flex flex-col items-center text-xs hover:text-blue-500 space-y-1">
    <i class="fas fa-map-marked-alt text-xl"></i>
    <span>Mapa Interactivo</span>
  </a>
</div>

