      <!-- registro -->
      <!-- registro -->
<!-- registro -->
<!-- registro -->
<section class="bg-[url('/assets/registrohome.png')] bg-cover bg-center bg-no-repeat md:h-screen flex flex-col md:flex-row items-center justify-between py-16 px-4 bg-gray-100" >
    <div class="md:w-1/2 md:pr-8">
        <div class="relative z-10 flex justify-center items-center h-full p-4" data-aos="fade-right" data-aos-duration="3000">
            <div class="p-8 max-w-lg w-full animate-fade-right animate-once animate-ease-linear">
                <h2 class="text-center text-lg md:text-3xl font-bold text-white uppercase">Registrase</h2>

                <form class="md:mt-12 mt-1 space-y-6">
                    <div class="mb-4 relative">
                        <i class="fas fa-user absolute left-2 top-2 h-2 w-2 md:h-5 md:w-5 text-white"></i>
                        <input type="text" id="name" class="w-full rounded-lg border bg-transparent py-1 md:px-2 md:py-2  pl-8 md:pl-8  active:ring-[#F6B93E] text-white" placeholder="Usuario" />
                    </div>
                    
                    <div class="mb-4 relative">
                        <i class="fas fa-user-circle absolute left-2 top-2 h-2 w-2 md:h-5 md:w-5 text-white"></i>
                        <input type="text" id="full_name" class="w-full rounded-lg border bg-transparent py-1 md:px-2 md:py-2  pl-8 md:pl-8   active:ring-[#F6B93E] text-white" placeholder="Nombre completo" />
                    </div>
                    
                    <div class="mb-4 relative">
                        <i class="fas fa-envelope absolute left-2 top-2 h-2 w-2 md:h-5 md:w-5 text-white"></i>
                        <input type="email" id="email" class="w-full rounded-lg border bg-transparent py-1 md:px-2 md:py-2  pl-8 md:pl-8  active:ring-[#F6B93E] text-white" placeholder="Correo electrónico" />
                    </div>
                    
                    <div class="mb-4 relative">
                        <i class="fas fa-lock absolute left-2 top-2 h-2 w-2 md:h-5 md:w-5 text-white"></i>
                        <input type="password" id="password" class="w-full rounded-lg border bg-transparent py-1 md:px-2 md:py-2  pl-8 md:pl-8   active:ring-[#F6B93E] text-white" placeholder="Contraseña" />
                    </div>
                 
                    <div class="mb-4 relative">
                        <i class="fas fa-lock absolute left-2 top-2 h-2 w-2 md:h-5 md:w-5 text-white"></i>
                        <input type="password" id="password_confirmation" class="w-full rounded-lg border bg-transparent py-1 md:px-2 md:py-2 pl-8 md:pl-8 active:ring-[#F6B93E] text-white" placeholder="Confirma tu contraseña" />
                    </div>
                  
                    <!-- Botón de registro centrado y grande -->
                    <div class="flex justify-center">
                        <button type="submit" class="bg-[#F6B93E] hover:bg-blue-700 text-white py-1 md:py-2 sm:py-3 px-8 sm:px-10 w-full rounded-md text-lg font-bold">Continuar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</section>

      
    
