<div
        class="flex flex-col items-center justify-end md:w-[100%] bg-[#212121] lg:[100%] xl:[100%] 2xl:[100%] h-[calc(100%-60px)]"
      >
        <section
          class="flex flex-col justify-between w-[100%] mb-[15px] items-center"
        >
          <div class="lg:mt-5 lg:mb-5">
            <div class="flex flex-col items-center justify-center mb-5">
              <img src="/assets/ChatLogotipoZyxbot.png" class="h-6 mr-3 sm:h-9" alt="">
              <h1 class="text-2xl font-medium text-white">
                Selecciona una universidad
              </h1>
            </div>
          </div>

          

          <div class="hidden lg:block lg:mt-72 xl:mt-28">
            <div class="flex justify-center w-auto h-auto">
              <div class="grid gap-2 md:grid-rows-2 md:grid-cols-2">
                <div
                  class="h-[66px] bg-transparent w-[372px] flex items-center border-[1px] border-[#4E4E4E] rounded-[12px] justify-between pr-4 hover:bg-[#2F2F2F] group cursor-pointer lg:h-[55px] lg:w-[320px] xl:h-[66px] xl:w-[372px]"
                >
                  <div
                    class="flex flex-col justify-center px-[1.171303074670571vw] py-[ 1.9769357495881383vh] items-start"
                  >
                    <h1 class="text-sm font-medium text-white">
                      Suggest some codenames
                    </h1>
                    <p class="text-sm font-medium text-[#828282]">
                      for a project introducing flexible work
                    </p>
                  </div>
                  <div class="hidden group group-hover:block">
                    <div
                      class="w-6 h-6 text-white bg-[#212121] flex items-center justify-center rounded-md"
                    >
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 24 24"
                        fill="none"
                        class="icon-sm text-token-text-primary"
                      >
                        <path
                          d="M7 11L12 6L17 11M12 18V7"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>

                <div
                  class="h-[66px] bg-transparent w-[372px] flex items-center border-[1px] border-[#4E4E4E] rounded-[12px] justify-between pr-4 hover:bg-[#2F2F2F] group cursor-pointer lg:h-[55px] lg:w-[320px] xl:h-[66px] xl:w-[372px]"
                >
                  <div
                    class="flex flex-col justify-center px-[1.171303074670571vw] py-[ 1.9769357495881383vh] items-start"
                  >
                    <h1 class="text-sm font-medium text-white">
                      Explain options trading
                    </h1>
                    <p class="text-sm font-medium text-[#828282]">
                      if I'm familiar with buying and selling
                    </p>
                  </div>
                  <div class="hidden group group-hover:block">
                    <div
                      class="w-6 h-6 text-white bg-[#212121] flex items-center justify-center rounded-md"
                    >
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 24 24"
                        fill="none"
                        class="icon-sm text-token-text-primary"
                      >
                        <path
                          d="M7 11L12 6L17 11M12 18V7"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>

                <div
                  class="h-[66px] bg-transparent w-[372px] flex items-center border-[1px] border-[#4E4E4E] rounded-[12px] justify-between pr-4 hover:bg-[#2F2F2F] group cursor-pointer lg:h-[55px] lg:w-[320px] xl:h-[66px] xl:w-[372px]"
                >
                  <div
                    class="flex flex-col justify-center px-[1.171303074670571vw] py-[ 1.9769357495881383vh] items-start"
                  >
                    <h1 class="text-sm font-medium text-white">
                      Create a personal webpage for me
                    </h1>
                    <p class="text-sm font-medium text-[#828282]">
                      after asking me three questions
                    </p>
                  </div>
                  <div class="hidden group group-hover:block">
                    <div
                      class="w-6 h-6 text-white bg-[#212121] flex items-center justify-center rounded-md"
                    >
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 24 24"
                        fill="none"
                        class="icon-sm text-token-text-primary"
                      >
                        <path
                          d="M7 11L12 6L17 11M12 18V7"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>

                <div
                  class="h-[66px] bg-transparent w-[372px] flex items-center border-[1px] border-[#4E4E4E] rounded-[12px] justify-between pr-4 hover:bg-[#2F2F2F] group cursor-pointer lg:h-[55px] lg:w-[320px] xl:h-[66px] xl:w-[372px]"
                >
                  <div
                    class="flex flex-col justify-center px-[1.171303074670571vw] py-[ 1.9769357495881383vh] items-start"
                  >
                    <h1 class="text-sm font-medium text-white">
                      Suggest fun activities
                    </h1>
                    <p class="text-sm font-medium text-[#828282]">
                      for a family of 4 to do indoors
                    </p>
                  </div>

                  <div class="hidden group group-hover:block">
                    <div
                      class="w-6 h-6 text-white bg-[#212121] flex items-center justify-center rounded-md"
                    >
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 24 24"
                        fill="none"
                        class="icon-sm text-token-text-primary"
                      >
                        <path
                          d="M7 11L12 6L17 11M12 18V7"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="resize-y">
          <div
            class="flex items-center w-[56.07613469985359vw] bg-[#171717] m-auto border-[1px] border-[#4E4E4E] rounded-[12px] py-[14px] pl-4 pr-4 justify-between 2xl:w-[766px] resize-y"
          >
            <input
              class="w-[50.07613469985359vw] bg-transparent outline-none border-none text-white placeholder-[#828282] 2xl:w-[766px] resize-y"
              type="text"
              placeholder="Message ChatGPT..."
            />
            <button
              class="bg-[#383838] w-[30px] h-[30px] flex items-center justify-center rounded-[8px]"
            >
              <svg
                class="text-[#1E1E1E]"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="text-white dark:text-black"
              >
                <path
                  d="M7 11L12 6L17 11M12 18V7"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </button>
          </div>
        </section>

        <section class="px-16 py-2 text-center md:px-10">
          <div class="">
            <span
              class="text-sm font-normal text-white md:font-light md:text-xs"
              >ChatGPT make mistakes. Consider checking important
              information.</span
            >
          </div>
        </section>
      </div>