.relative {
    position: relative;
}

.border {
    border-color: rgba(0, 0, 0, 0.1);
}

.bg-gray-950 {
    background-color: rgba(0, 0, 0, 0.01);
}

.dark .border {
    border-color: rgba(255, 255, 255, 0.1);
}

.dark .bg-gray-50 {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Asegúrate de que los marcos tengan un tamaño adecuado */
figure {
    flex: none; /* Evita que los elementos se expandan para ocupar el espacio disponible */
    width: 250px; /* Establece un ancho fijo si es necesario */
}

/* Estilos para hacer que el texto sea más legible en el fondo */
figcaption {
    color: white; /* Asegúrate de que el color sea legible */
}

blockquote {
    color: gray; /* Asegúrate de que el color sea legible */
}
