<!-- component -->
<section class="relative bg-[url('/assets/fondoheader.png')] bg-cover bg-center bg-no-repeat md:h-screen h-96 font-sans flex flex-col items-center justify-center">
  <div class="absolute inset-0 bg-gradient-to-b from-transparent to-[#040C1C]"></div>

  <div class="mx-auto px-4 sm:px-6 lg:px-8 relative z-10" data-aos="zoom-out"  data-aos-duration="3000" >
    <div class="lg:grid lg:grid-cols-12 lg:gap-8 pt-12 lg:pt-0" >
      <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left lg:flex lg:items-center">
        <div class="">
          <div class="flex flex-col items-center justify-center">
            <h1 class="mt-2 text-2xl tracking-tight font-extrabold text-white sm:mt-5 sm:leading-none lg:mt-6 lg:text-5xl xl:text-6xl" >
              ¿Buscas información sobre Universidades?
            </h1>
            <p class="text-white text-xs md:text-2xl mt-3 md:block">
              ZyxBot está aquí para ayudarte. Nuestra inteligencia artificial potenciada te proporcionará información precisa y relevante de manera eficiente.
            </p>
          </div>
          <div class="mt-3 sm:flex sm:justify-center lg:justify-start" >
            <button class="inline-flex items-center text-white font-bold bg-[#2F80ED] justify-center rounded-xl md:text-sm text-xs ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-[#F6B93E] md:px-4  px-2 md:py-2 py-1 w-32 md:w-52">
              Ir al chat
            </button>
          </div>
        </div>
      </div>
      <!-- Imagen de la laptop -->
      <div class="mt-16 ml-6 sm:mt-24 lg:mt-0 lg:col-span-5 hidden lg:block">
        <img src="/assets/Mockup-laptop-Zyxbot.png" alt="Mockup de laptop" class="w-full h-auto object-contain" />
      </div>
    </div>
  </div>

  <!-- Universidades -->
  <div class="container mx-auto md:mt-6 mt-10 items-center z-50" >
    <h2 class="uppercase text-white text-center font-bold" data-aos="zoom-out" data-aos-duration="3000">Universidades</h2>
   
    <div class="flex space-x-8 md:space-x-16 mt-3 group animate-loop-scroll">
      <!-- Logos de las universidades -->
        <img loading="lazy" src="/assets/logoUniversidades/unanmanagua.png"
         class="aspect-[1.11] object-contain object-center md:w-[136px] w-10 overflow-hidden self-center shrink-0 max-w-full my-auto" alt="Logo UNAN Managua" />
        <img loading="lazy" src="/assets/logoUniversidades/LOGO_OFICIAL_BICU.png" class="aspect-[1.11] object-contain object-center md:w-[136px] w-10  overflow-hidden self-center shrink-0 max-w-full my-auto" alt="Logo BICU" />
        <img loading="lazy" src="/assets/logoUniversidades/UNI-Nicaragua.png" class="aspect-[1.11] object-contain object-center md:w-[136px] w-10 overflow-hidden self-center shrink-0 max-w-full my-auto" alt="Logo UNI Nicaragua" />
        <img loading="lazy" src="/assets/logoUniversidades/UNIAV.png" class="aspect-[1.11] object-contain object-center md:w-[136px] w-10 overflow-hidden self-center shrink-0 max-w-full my-auto" alt="Logo UNIAV" />
        <img loading="lazy" src="/assets/logoUniversidades/universidad_nacional_agraria_una.webp" class="aspect-[1.11] object-contain object-center md:w-[136px] w-10 overflow-hidden self-center shrink-0 max-w-full my-auto" alt="Logo UNA" />
        <img loading="lazy" src="/assets/logoUniversidades/universidad_nacional_politecnica.webp" class="aspect-[1.11] object-contain object-center md:w-[136px] w-10 overflow-hidden self-center shrink-0 max-w-full my-auto" alt="Logo Universidad Nacional Politécnica" />
        <img loading="lazy" src="/assets/logoUniversidades/Universidad-Nacional-Multidisciplinaria-RMA_aprobado_UNM-Logo_color-copia.png" class="aspect-[1.11] object-contain object-center md:w-[136px] w-10 overflow-hidden self-center shrink-0 max-w-full my-auto" alt="Logo UNM" />
        <img loading="lazy" src="/assets/logoUniversidades/URACCAN Logo web2_1.png" class="aspect-[1.11] object-contain object-center md:w-[136px] w-10 overflow-hidden self-center shrink-0 max-w-full my-auto" alt="Logo URACCAN" />
    </div>
</div>
</section>







<!-- funciones de zyxbot -->
<!-- Sección principal -->
<section
  class="bg-[#040C1C] bg-[url('/assets/Telefono3.png')] bg-cover bg-center bg-no-repeat md:h-screen flex flex-col items-center md:pt-10 pt-4 relative h-96"
>
  <div class="text-center max-w-lg px-4 " data-aos="zoom-out"  data-aos-duration="3000"  >
    <h2 class="text-lg md:text-4xl font-bold text-white mb-1 md:mb-4 animate-fade-down animate-once animate-ease-linear"  >Así es como funciona</h2>
    <p class="text-xs md:text-lg text-white animate-fade-down animate-once animate-ease-linear mb-0" >
      ZyxBot es una plataforma educativa que apoya a jóvenes entusiastas
      indecisos sobre su carrera futura. Ofrece tres productos innovadores sobre
      su trayectoria profesional.
    </p>
    <!-- Contenedor para las palabras clave -->
    <div class="flex justify-center text-[10px] md:text-sm md:mt-6 mt-2 space-x-4 animate-fade-down animate-once animate-ease-linear">
      <span class="text-white  bg-blue-600  py-1 px-3  rounded-full"
        >Chat en vivo</span
      >
      <span class="text-white bg-blue-600 py-1 px-3 rounded-full"
        >Mapa Interactivo</span
      >
      <span class="text-white bg-blue-600 py-1 px-3 rounded-full"
        >Test vocacional</span
      >
    </div>
  </div>

  <!-- Contenedor para el h2 y el botón en la parte inferior -->
  <div
    class=" text-center mt-28 "
  >
    <h2 class=" text-sm whitespace-nowrap md:text-2xl font-bold text-white mb-4" data-aos="zoom-out"  data-aos-duration="3000">
      ¿Qué esperas? <br />En ZyxBot encontrarás todo lo que buscas
    </h2>
    <button
      class="text-white font-bold bg-[#F6B93E] hover:bg-[#fcb21d] py-1 px-4 text-sm md:py-2 md:px-6 rounded-xl md:text-lg uppercase" data-aos="zoom-out"  data-aos-duration="3000"
    >
      Registrarse
    </button>
  </div>
</section>

<!-- Ventajas -->
<section
  class="bg-[#040C1C] h-32 flex flex-col items-center justify-center px-4"  >
  <h2 class="text:sm  md:text-2xl font-bold text-white mb-2" data-aos="fade-up" data-aos-duration="3000" data-aos-anchor-placement="center-bottom">Ventajas de ZyxBot</h2>
  <p class="text-white text-xs md:text-lg text-center md:whitespace-nowrap"  data-aos="fade-up" data-aos-duration="3000" data-aos-anchor-placement="center-bottom">
    En ZyxBot, estamos comprometidos a simplificar tu búsqueda educativa y a ser
    tu compañero confiable en cada paso de tu viaje.
  </p>
</section>



<section class="contenedor">
 <!-- Contenedor principal -->
<div class=" mx-auto p-6 bg-[#040C1C] shadow-xl" >

  <!-- Fila superior de bloques -->
  <div class="flex justify-center mb-3 md:space-x-16 space-x-3 animate-loop-scroll-reverse  "data-aos="zoom-out"  data-aos-duration="3000">
    
    <div class="bg-[#f3ebeb21] text-white border border-white rounded-lg md:p-6 p-3 w-[250px] md:w-auto min-w-[350px] md:mb-6 mb-3 transform transition-transform duration-300 hover:scale-105 hover:shadow-lg">
      <div class="flex items-center">
        <i class="fa-solid fa-bolt text-white bg-[#2F80ED] px-1 py-1 md:px-2 md:py-1 rounded-sm mr-4 text-xs md:text-lg"></i>
        <div>
          <h3 class="text-[10px] md:text-lg font-semibold mb-1">Información Confiable</h3>
          <p class=" text-[8px] md:text-sm">Proporciona datos actualizados y verificados sobre las Universidades de Nicaragua.</p>
        </div>
      </div>
    </div>
    
    <!-- Bloque 2 -->
    <div class="bg-[#f3ebeb21] text-white border border-white rounded-lg md:p-6 p-3 w-[250px] md:w-auto min-w-[250px]  md:mb-6 mb-3 transform transition-transform duration-300 hover:scale-105 hover:shadow-lg">
      <div class="flex items-center">
        <i class="fa-solid fa-bolt text-white bg-[#2F80ED] px-1 py-1 md:px-2 md:py-1 rounded-sm mr-4 text-xs md:text-lg"></i>
        <div>
          <h3 class="text-[10px] md:text-lg font-semibold mb-1">Test Vocacional</h3>
          <p class="text-[8px] md:text-sm">Ayuda a los jóvenes a descubrir sus intereses y habilidades.</p>
        </div>
      </div>
    </div>
    
    <!-- Bloque 3 -->
    <div class="bg-[#f3ebeb21] text-white border border-white rounded-lg md:p-6 p-3 w-[250px] md:w-auto min-w-[250px]  md:mb-6 mb-3 transform transition-transform duration-300 hover:scale-105 hover:shadow-lg">
      <div class="flex items-center">
        <i class="fa-solid fa-bolt text-white bg-[#2F80ED] px-1 py-1 md:px-2 md:py-1 rounded-sm mr-4 text-xs md:text-lg"></i>
        <div>
          <h3 class="text-[10px] md:text-lg font-semibold mb-1">Facilidad de Uso</h3>
          <p class="text-[8px] md:text-sm">Su interfaz intuitiva permite obtener la información que necesitas fácilmente.</p>
        </div>
      </div>
    </div>
    
  </div>

  <!-- Fila inferior de bloques -->
  <div class="flex justify-around space-x-8 md:space-x-16  animate-loop-scroll" data-aos="zoom-out"  data-aos-duration="3000"  >
    <div class="bg-[#f3ebeb21] text-white border border-white rounded-lg md:p-6 p-3 w-[300px] md:w-auto min-w-[250px] md:mb-6 mb-3 transform transition-transform duration-300 hover:scale-105 hover:shadow-lg">
      <div class="flex items-center">
        <i class="fa-solid fa-bolt text-white bg-[#2F80ED] px-1 py-1 md:px-2 md:py-1 rounded-sm mr-4 text-xs md:text-lg"></i>
        <div>
          <h3 class="text-[10px] md:text-lg font-semibold mb-1">Asistencia Virtual Personalizada</h3>
          <p class="text-[8px] md:text-sm">Disponible las 24 horas del día, los 7 días a la semana.</p>
        </div>
      </div>
    </div>
    
    <!-- Bloque 5 -->
    <div class="bg-[#f3ebeb21] text-white border border-white rounded-lg md:p-6 p-3 w-[250px]  md:w-auto min-w-[250px] mb-6 transform transition-transform duration-300 hover:scale-105 hover:shadow-lg">
      <div class="flex items-center">
        <i class="fa-solid fa-bolt text-white bg-[#2F80ED] px-1 py-1 md:px-2 md:py-1 rounded-sm mr-4 text-xs md:text-lg"></i>
        <div>
          <h3 class="text-[10px] md:text-lg font-semibold mb-1">Soporte Multicanal</h3>
          <p class="text-[8px] md:text-sm">Smartphones, tablets y computadoras.</p>
        </div>
      </div>
    </div>
    
    <!-- Bloque 6 -->
    <div class="bg-[#f3ebeb21] text-white border border-white rounded-lg md:p-6 p-3 w-[250px]  md:w-auto min-w-[250px]  md:mb-6 mb-3 transform transition-transform duration-300 hover:scale-105 hover:shadow-lg">
      <div class="flex items-center">
        <i class="fa-solid fa-bolt text-white bg-[#2F80ED] px-1 py-1 md:px-2 md:py-1 rounded-sm mr-4 text-xs md:text-lg"></i>
        <div>
          <h3 class="text-[10px] md:text-lg font-semibold mb-1">Mapa Interactivo de Universidades</h3>
          <p class="text-[8px] md:text-sm">Incluye un mapa interactivo que facilita la localización de Universidades Nicaragüenses.</p>
        </div>
      </div>
    </div>
    
    <!-- Bloque 7 -->
    <div class="bg-[#f3ebeb21] text-white border border-white rounded-lg md:p-6 p-3 w-[250px]  md:w-auto min-w-[250px]  md:mb-6 mb-3 transform transition-transform duration-300 hover:scale-105 hover:shadow-lg">
      <div class="flex items-center">
        <i class="fa-solid fa-bolt text-white bg-[#2F80ED] px-1 py-1 md:px-2 md:py-1 rounded-sm mr-4 text-xs md:text-lg"></i>
        <div>
          <h3 class="text-[10px] md:text-lg font-semibold mb-1">Bloque Adicional</h3>
          <p class="text-[8px] md:text-sm">Contenido adicional para completar el diseño.</p>
        </div>
      </div>
    </div>
   
    
  </div>
</div>

</section>




