<!-- component -->
<section class="relative bg-[url('/assets/fondoheader.png')] bg-cover bg-center bg-no-repeat h-screen font-sans flex flex-col items-center justify-center">
  
  <div class="absolute inset-0 bg-gradient-to-b from-transparent to-[#040C1C]"></div>
  
  <div class="mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
    <div class="lg:grid lg:grid-cols-12 lg:gap-8 pt-12 lg:pt-0">
      <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left lg:flex lg:items-center">
        <div class="">
          <div class="flex flex-col items-center justify-center">
            <h1 class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:leading-none lg:mt-6 lg:text-5xl xl:text-6xl">
              ¿Buscas información sobre Universidades?
            </h1>
            <p class="text-white mt-10 md:block">ZyxBot está aquí para ayudarte. Nuestra inteligencia artificial potenciada te proporcionará información precisa y relevante de manera eficiente.</p>
          </div>
          <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
            <button class="inline-flex items-center text-white bg-[#2F80ED] justify-center rounded-xl text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-orange-600 h-10 px-4 py-2 w-full sm:w-auto">
              Ir al chat
            </button>
          </div>
        </div>
      </div>
      <div class="mt-16 ml-6 sm:mt-24 lg:mt-0 lg:col-span-5">
        <img src="/assets/Mockup-laptop-Zyxbot.png" alt="Mockup de laptop" class="w-full h-auto object-contain hidden lg:block">
      </div>
    </div>
  </div>
</section>





      <!-- universidades -->
      <section class="bg-[#040C1C] h-32">
        <div class="container mx-auto">
          <div class="flex items-center flex-wrap justify-between"> <!-- Cambiar justify-center a justify-between -->
            <!-- Logo 1 -->
            <div class="w-20 h-20 sm:w-16 flex justify-center items-center m-4">
              <img src="/assets/logoUniversidades/LOGO_OFICIAL_BICU.png" alt="">
            </div>
            <!-- Logo 2 -->
            <div class="w-20 h-20 sm:w-16 flex justify-center items-center m-4">
              <img src="/assets/logoUniversidades/UNI-Nicaragua.png" alt="">
            </div>
            <!-- Logo 3 -->
            <div class="w-28 h-28 sm:w-20 flex justify-center items-center m-4">
              <img src="/assets/logoUniversidades/UNIAV.png" alt="">
            </div>
            <!-- Logo 4 -->
            <div class="w-16 h-16 sm:w-14 flex justify-center items-center m-4">
              <img src="/assets/logoUniversidades/universidad_nacional_agraria_una.webp" alt="">
            </div>
            <!-- Logo 5 -->
            <div class="w-32 h-32 sm:w-20 flex justify-center items-center m-4">
              <img src="/assets/logoUniversidades/universidad_nacional_politecnica.webp" alt="">
            </div>
            <div class="w-20 h-20 sm:w-16 flex justify-center items-center m-4">
              <img src="/assets/logoUniversidades/Universidad-Nacional-Multidisciplinaria-RMA_aprobado_UNM-Logo_color-copia.png" alt="">
            </div>
            <div class="w-20 h-20 sm:w-16 flex justify-center items-center m-4">
              <img src="/assets/logoUniversidades/URACCAN Logo web2_1.png" alt="">
            </div>
          </div>
        </div>
      </section>
      
      <!-- funciones de zyxbot -->
      <!-- Sección principal -->
<section class="bg-[url('/assets/Telefono3.png')] bg-cover bg-center bg-no-repeat h-screen flex flex-col items-center pt-20 relative">
  <div class="text-center max-w-lg px-4">
    <h2 class="text-3xl font-bold text-white mb-4">Así es como funciona</h2>
    <p class="text-lg text-white">
      ZyxBot es una plataforma educativa que apoya a jóvenes entusiastas indecisos sobre su carrera futura. Ofrece tres productos innovadores sobre su trayectoria profesional.
    </p>
    <!-- Contenedor para las palabras clave -->
    <div class="flex justify-center mt-6 space-x-4">
      <span class="text-white bg-blue-600 py-1 px-3 rounded-full">Chat en vivo</span>
      <span class="text-white bg-blue-600 py-1 px-3 rounded-full">Mapa Interactivo</span>
      <span class="text-white bg-blue-600 py-1 px-3 rounded-full">Test vocacional</span>
    </div>
  </div>

  <!-- Contenedor para el h2 y el botón en la parte inferior -->
  <div class="absolute bottom-10 left-1/2 transform -translate-x-1/2 text-center px-4">
    <h2 class="text-2xl font-bold text-white mb-4">¿Qué esperas? <br>En ZyxBot encontrarás todo lo que buscas</h2>
    <button class="text-white bg-[#F6B93E] hover:bg-[#fcb21d] py-2 px-6 rounded-xl text-lg uppercase">
      Registrarse
    </button>
  </div>
</section>

<!-- Ventajas -->
<section class="bg-[#040C1C] h-32 flex flex-col items-center justify-center px-4">
  <h2 class="text-2xl font-bold text-white mb-2">Ventajas de ZyxBot</h2>
  <p class="text-white text-lg text-center whitespace-nowrap">En ZyxBot, estamos comprometidos a simplificar tu búsqueda educativa y a ser tu compañero confiable en cada paso de tu viaje.</p>
</section>

      
      
      <!-- registro -->
      <section class=" bg-[url('/assets/registrohome.png')] bg-cover bg-center bg-no-repeat h-screen flex flex-col md:flex-row items-center justify-between py-16 px-4 bg-gray-100">
        <div class="md:w-1/2 md:pr-8">
          <div class="relative z-10 flex justify-center items-center h-full p-4">
            <div class="p-8 max-w-lg w-full">
              
              <h2 class="text-center text-3xl font-bold text-white uppercase">Registrase</h2>
          
              <form class="mt-6">
                <!-- Nombre -->
                <div class="mb-4">
                  <input type="text" id="name" class="w-full mt-2 p-3 sm:p-4 bg-transparent border border-white rounded-md text-white placeholder-gray-200" placeholder="Usuario" />
                </div>
        
                <div class="mb-4">
                  <input type="text" id="full_name" class="w-full mt-2 p-3 sm:p-4 bg-transparent border border-white rounded-md text-white placeholder-gray-200" placeholder="Nombre completo" />
                </div>
            
                <!-- Email -->
                <div class="mb-4">
                  <input type="email" id="email" class="w-full mt-2 p-3 sm:p-4 bg-transparent border border-white rounded-md text-white placeholder-gray-200" placeholder="Correo electrónico" />
                </div>
            
                <!-- Contraseña -->
                <div class="mb-4">
                  <input type="password" id="password" class="w-full mt-2 p-3 sm:p-4 bg-transparent border border-white rounded-md text-white placeholder-gray-200" placeholder="Contraseña" />
                </div>
            
                <!-- Confirmar contraseña -->
                <div class="mb-4">
                  <input type="password" id="password_confirmation" class="w-full mt-2 p-3 sm:p-4 bg-transparent border border-white rounded-md text-white placeholder-gray-200" placeholder="Confirma tu contraseña" />
                </div>
            
                <!-- Botón de registro centrado y grande -->
                <div class="flex justify-center">
                  <button type="submit" class="bg-[#F6B93E] hover:bg-blue-700 text-white py-2 sm:py-3 px-8 sm:px-10 w-full rounded-md text-lg">Sign Up</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </section>
      
    
      




<!-- footer -->
<footer class="relative bg-blueGray-200 pt-4 pb-6 bg-gradient-to-r from-[#040C1C] to-[#040C1C]">
  <div class="container mx-auto px-4">
    <hr class="my-6 border-blueGray-300" />
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl fonat-semibold text-white">
          ZyxBot Company
        </h4>
        <h5 class="text-lg mt-4 mb-2 text-white ">
         ¿Buscas respuestas a tus preguntas sobre Universidades y programas académicos en Nicaragua? Ya sea que estés buscando tu primera experencia universitaria o explorando opciones para continuar tu educación, ZyxBot es tu compañero en este viaje educativo.
        </h5>
        <div class="mt-6 lg:mb-0 mb-6">
          <button
            class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button"
          >
            <i class="fab fa-twitter"></i></button
          ><button
            class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button"
          >
            <i class="fab fa-facebook-square"></i></button
          ><button
            class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button"
          >
            <i class="fab fa-dribbble"></i></button
          ><button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button"
          >
            <i class="fab fa-github"></i>
          </button>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span
              class="block uppercase text-white text-sm font-semibold mb-2"
              >Contenidos</span
            >
            <ul class="list-unstyled">
              <li>
                <a
                  class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  href=""
                  >Página principal</a
                >
              </li>
              <li>
                <a
                  class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  href=""
                  >Chatbot</a
                >
              </li>
              <li>
                <a
                  class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  href=""
                  >Mapa Interactivo</a
                >
              </li>
              <li>
                <a
                  class="text-white hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  href=""
                  >Test vocacional</a
                >
              </li>
            </ul>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  
</footer>
<div class="h-16 bg-[#151A2B] flex items-center justify-between px-4">
  <!-- Imagen a la izquierda -->
  <div class="flex items-center">
    <img src="/assets/LogoZyxBot.png" alt="Logo" class="h-10" />
  </div>

  <!-- Texto de copyright a la derecha -->
  <div class="text-white text-sm">
    © 2024 ZyxBot. Todos los derechos reservados. Este sitio web y su contenido 
  </div>
</div>
