<section class="relative bg-[url('/assets/fondoheader.png')] bg-cover bg-center bg-no-repeat md:h-screen h-96 font-sans flex flex-col items-center justify-center">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-[#040C1C]"></div>
    <div class="mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
      <div class="lg:grid lg:grid-cols-12 lg:gap-8 pt-12 lg:pt-0">
        <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left lg:flex lg:items-center">
          <div class="">
            <div class="flex flex-col items-center justify-center">
              <h1 class="mt-4 text-2xl tracking-tight font-extrabold text-white sm:mt-5 sm:leading-none lg:mt-6 lg:text-5xl xl:text-6xl animate-fade-right animate-once animate-ease-linear">
                ¿No sabes que carrera puedes estudiar?
              </h1>
              <p class="text-white text-xs md:text-2xl mt-10 md:block delay-100 animate-fade-up animate-once animate-ease-linear">
               para ayudarte a escoger, hemos creado este portal dedicado exclusivamente a estudiantes como tú. En nuestra web podrá encotrar un magnífico test vocacional.
              </p>
            </div>
            <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
              <button class="inline-flex items-center text-white font-bold bg-[#2F80ED] justify-center rounded-xl text-sm ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-[#F6B93E] px-4 py-2 w-full md:w-52 animate-bounce animate-once animate-ease-linear">
                !Hacer test vocacional¡
              </button>
            </div>
          </div>
        </div>
        <!-- Imagen de la laptop -->
        <div class="mt-16 ml-6 sm:mt-24 lg:mt-0 lg:col-span-5 hidden lg:block">
          <img src="/assets/svg/Test.svg" alt="Mockup de laptop" class="w-full h-auto object-contain" />
        </div>
      </div>
    </div>
  </section>

  <section class="relative bg-[#040C1C] font-sans flex flex-col items-center justify-center min-h-screen">

    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-[#040C1C]"></div>
    <h2 class="text-3xl font-bold mb-6 text-center text-white">Test Vocacional</h2>
    <div class="relative z-10 w-[350px] bg-[#061739] text-white  p-8 rounded-lg shadow-lg">
      
        <h2 class="text-white text-lg font-bold ">Me gusta investigar y entender sobre el por qué de las cosas</h2>

        <!-- Carousel Container -->
        <div class="carousel-container relative overflow-hidden mt-4">
            <div class="slides flex transition-transform duration-500" style="transform: translateX(0%);">
                <!-- Slide 1 -->
                <div class="flex flex-col space-y-4">
                  <label class="flex items-center">
                      <input type="radio" class="form-radio h-5 w-5 border-2 border-[#F6B93E] focus:ring-[#F6B93E]">
                      <span class="ml-2 text-sm text-white font-medium">Muchas veces</span>
                  </label>
                  <label class="flex items-center">
                      <input type="radio" class="form-radio h-5 w-5 border-2 border-[#F6B93E] focus:ring-[#F6B93E]">
                      <span class="ml-2 text-sm text-white font-medium">A veces</span>
                  </label>
                  <label class="flex items-center">
                      <input type="radio" class="form-radio h-5 w-5 border-2 border-[#F6B93E] focus:ring-[#F6B93E]">
                      <span class="ml-2 text-sm text-white font-medium">Nunca</span>
                  </label>
              </div>

            </div>
        </div>
        <div class="mt-5">
          <h2 class="text-white text-lg font-bold ">Me gusta investigar y entender sobre el por qué de las cosas</h2>

        <!-- Carousel Container -->
        <div class="carousel-container relative overflow-hidden mt-4">
            <div class="slides flex transition-transform duration-500" style="transform: translateX(0%);">
                <!-- Slide 1 -->
                <div class="flex flex-col space-y-4">
                  <label class="flex items-center">
                      <input type="radio" class="form-radio h-5 w-5 border-2 border-[#F6B93E] focus:ring-[#F6B93E]">
                      <span class="ml-2 text-sm text-white font-medium">Muchas veces</span>
                  </label>
                  <label class="flex items-center">
                      <input type="radio" class="form-radio h-5 w-5 border-2 border-[#F6B93E] focus:ring-[#F6B93E]">
                      <span class="ml-2 text-sm text-white font-medium">A veces</span>
                  </label>
                  <label class="flex items-center">
                      <input type="radio" class="form-radio h-5 w-5 border-2 border-[#F6B93E] focus:ring-[#F6B93E]">
                      <span class="ml-2 text-sm text-white font-medium">Nunca</span>
                  </label>
              </div>

            </div>
        </div>
        </div>
        
    </div>
    <h2 class="text-3xl font-bold mb-6 text-center text-white">Resultados</h2>
    <div class="relative flex space-x-3 z-10 w-[350px] bg-[#061739] text-white  p-4 rounded-lg shadow-lg">
      <article class="overflow-hidden w-32 rounded-lg shadow transition hover:shadow-lg">
        <img
          alt=""
          src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
          class="h-20 w-full object-cover"
        />
        <div class="bg-white p-1 sm:p-6">
          <a href="#">
            <h3 class="mt-0.5 text-[8px] font-medium text-gray-900 text-center">Cinecias de la educación</h3>
            <h3 class="mt-0.5 text-[8px] font-medium text-gray-900 text-center">99%</h3>
          </a>
      
          <p class="mt-2 line-clamp-3 text-[8px] text-gray-500 text-center">
           Transmite tus conocimientos a las nuevas generacion.
          </p>
        </div>
      </article>
      <article class="overflow-hidden w-32 rounded-lg shadow transition hover:shadow-lg">
        <img
          alt=""
          src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
          class="h-20 w-full object-cover"
        />
        <div class="bg-white p-1 sm:p-6">
          <a href="#">
            <h3 class="mt-0.5 text-[8px] font-medium text-gray-900 text-center">Cinecias de la educación</h3>
            <h3 class="mt-0.5 text-[8px] font-medium text-gray-900 text-center">99%</h3>
          </a>
      
          <p class="mt-2 line-clamp-3 text-[8px] text-gray-500 text-center">
           Transmite tus conocimientos a las nuevas generacion.
          </p>
        </div>
      </article>
      <article class="overflow-hidden w-32 rounded-lg shadow transition hover:shadow-lg">
        <img
          alt=""
          src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
          class="h-20 w-full object-cover"
        />
        <div class="bg-white p-1 sm:p-6">
          <a href="#">
            <h3 class="mt-0.5 text-[8px] font-medium text-gray-900 text-center">Cinecias de la educación</h3>
            <h3 class="mt-0.5 text-[8px] font-medium text-gray-900 text-center">99%</h3>
          </a>
      
          <p class="mt-2 line-clamp-3 text-[8px] text-gray-500 text-center">
           Transmite tus conocimientos a las nuevas generacion.
          </p>
        </div>
      </article>
      
      
    </div>

  
    
</section>


  
  
