<div class="mt-6 text-white px-4 py-2 flex justify-center items-center text-center">
    <h2 class="flex justify-center items-center text-lg font-medium uppercase text-center text-black underline">UNIVERSIDADES</h2>
  </div>
  
  <div class="grid gap-4 lg:grid-cols-2 mb-6 mt-4">
    <div>
      <label for="institucion" class="block text-sm font-medium text-gray-900">Instituciones</label>
      <select
        id="institucion"
        formControlName="Institucion"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
        <option *ngFor="let institucion of instituciones" [value]="institucion.id">{{ institucion.nombre }}</option>
      </select>
    </div>
  
    <div>
      <label for="nombres" class="block text-sm font-medium text-gray-900">Sedes</label>
      <select
        id="sede"
        formControlName="Sede"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
        <option *ngFor="let sede of filteredSedes" [value]="sede.id">{{ sede.nombre }}</option>
      </select>
    </div>
  </div>
  
  <div id="map" style="height: 100vh;"></div>
  
  <div class="flex justify-end items-end space-x-4 mt-4">
    <button
      (click)="cerraDialogo()"
      class="rounded bg-[#0B0F1D] px-4 pb-1.5 pt-1.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-[#253055] focus:outline-none"
    >
      <span class="mx-0.5">Cerrar</span>
    </button>
  </div>
  